.icon-list {
  position: relative;
  padding: 60px 0px 89px;
  background-color: $alt-color;
  @media #{$phone-portrait} {
    padding: 62px 0px 72px;
  }
}

.icon-list__title {
  color: $white;
  font-family: $alt-family;
  @include fsz(48px);
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 35px;
  text-align: center;
  @media #{$phone} {
    @include fsz(36px);
    margin-bottom: 27px;
  }
}

.icon-list__grid {
  max-width: 1440px;
  display: flex;
  gap: 24px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  @media #{$phone-portrait} {
    gap: 0px;
  }
}

.icon-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 27px 31px 10px 32px;
  //flex-basis: calc((100% / var(--item-col)) - 24px);
  width: calc(25% - 24px);
  flex-shrink: 0;
  @media #{$tablet} {
    width: calc(25% - 24px);
  }
  @media #{$phone} {
    width: calc(33.33% - 24px);
  }
  @media #{$phone-portrait} {
    width: 50%;
  }
}

.icon-list__item-has-link {
  transform: translate(0);
  transition: transform .2s ease;

  &:hover {
    transform: translateY(-10px);
  }
}

.icon-list__media {
  margin-bottom: 15px;
  width: 78px;
  height: 70px;
}

.icon-list__item-title {
  color: $white;
  text-align: center;
  font-family: $alt-family;
  @include fsz(24px);
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  min-height: 71px;
}

.cover-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0px;
  text-indent: -99em;
  z-index: 1;
}

.icon-list__gridFourThreeTwoColumn {
  .icon-list__item {
    &:nth-last-child(-n+2) {
      width: calc(50% - 24px);
      @media #{$phone} {
        width: calc(33.33% - 24px);
      }
      @media #{$phone-portrait} {
        width: 50%;
      }
    }

    &:nth-last-child(3),
    &:nth-last-child(4),
    &:nth-last-child(5) {
      width: calc(33.33% - 24px);
      @media #{$phone} {
        width: calc(33.33% - 24px);
      }
      @media #{$phone-portrait} {
        width: 50%;
      }
    }
  }
}

.icon-list__gridThreeTwoColumn {
  .icon-list__item {
    width: calc(33.33% - 24px);
    @media #{$phone} {
      width: calc(33.33% - 24px);
    }
    @media #{$phone-portrait} {
      width: 50%;
    }
    &:nth-last-child(-n+2) {
      width: calc(50% - 24px);
      @media #{$phone} {
        width: calc(33.33% - 24px);
      }
      @media #{$phone-portrait} {
        width: 50%;
      }
    }
  }
}

.icon-list__gridFourTwoColumn {
  .icon-list__item {
    &:nth-last-child(-n+2) {
      width: calc(50% - 24px);
      @media #{$phone} {
        width: calc(33.33% - 24px);
      }
      @media #{$phone-portrait} {
        width: 50%;
      }
    }
  }
}

.icon-list__gridFourThreeColumn {
  .icon-list__item {
    &:nth-last-child(-n+3) {
      width: calc(33.33% - 24px);
      @media #{$phone} {
        width: calc(33.33% - 24px);
      }
      @media #{$phone-portrait} {
        width: 50%;
      }
    }
  }
}