.logo-list {
    padding: 72px 0 87px;
    @media #{$tablet} {
        padding: 72px 0 64px;
    }

}

.logo-list__title {
    margin-bottom: 59px;
    text-transform: uppercase;

    @media #{$phone} {
        margin-bottom: 25px;
    }
}

.logo-list__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -13px;
    > * {
        width: 16.666%;
        padding: 0 13px;
        margin-bottom: 36px;
        @media #{$tablet} {
            width: 33.33%;
        }
        @media #{$phone} {
            width: 50%;
        }
    }
}